.list-stores {
    height: 100%;
    width: 100%;

    .list-stores-head {
        height: 13%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h3 {
            font-size: 2.5rem;
        }

        .btn-navy {
            width: 10rem;
            height: 3.5rem;
        }
    }

    .list-stores-body {
        height: 87%;
        width: 100%;
    }
}
.table_circle {
    width: 55px !important;
    height: 55px !important;
    border-radius: 50% !important;
}
