@use "../../../../../scss/abstract" as *;

.edit_cleaner {
    // border: 1px solid red;
    overflow: hidden !important;
    .image_name {
        // width: 100px;
        height: 70px !important;
    }
}
.cleaner-layout {
    height: 100%;
    width: 100%;
    .p-datatable-tbody {
        > tr {
            cursor: context-menu !important;
        }
    }
    .cleaner-body {
        height: calc(100% - 80px);
        //margin: 70px 0px;
        width: 100%;
        display: flex;
        flex-direction: column;

        .row > * {
            padding-right: 0px !important;
            padding-left: 0px !important;

            .cleaner-profile-picture {
                border-radius: 50px;
                overflow: hidden;
                width: 50px;
                height: 50px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    // .modal {
    //     height: 100vh;

    //     .modal-content {
    //         height: 70vh;

    //         @include themed() {
    //             background-color: t($background-alt);
    //         }

    //     }
    // }
    .btn-navy-create {
        width: 60%;
    }
}
