@use "../../../../../scss/" as *;
.tab {
    width: 100%;
    height: 100%;

    .tablist {
        display: flex;
        justify-content: space-around;
        .tabHeader {
            display: flex;
            gap: 5px;
            align-items: center;
            color: black;
            cursor: pointer;
            .text-colors {
                color: black;
            }
        }
        .active {
            background-color: $back_exterior;
            padding: 5px 10px;
            border-radius: 10px;

            @include themed() {
                color: t($primary);
                font-size: 15px;
            }
        }
      
    }
}
